/*-- nav-bar 가 body전체에 적용되는 padding에 영향받지 않고 공백이 없도록 만들 예정이며, 
sticky 하게 만드는 것이 목표 --*/

.nav {
  position: fixed;
  /*--fixed 포지션 사용할때는 항상 width 값을 줘야한다! --*/
  width: 100%;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 10px;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
